<article>
  <h2>Proyecto: {{ myDataCar.nombre_proyecto }}</h2>
  <ul>
    <li>Descripcion breve: {{ myDataCar.descripcion_breve }}</li>
    <li>Descripcion larga: {{ myDataCar.descripcion_larga }}</li>
    <li>Company: {{ myDataCar.company }}</li>
    <li><a href="{{ myDataCar.url }}">url</a></li>
    <li>Imagen: {{ myDataCar.img }}</li>
    <li>Date: {{ myDataCar.date }}</li>
    <li>Disciplina: {{ myDataCar.disciplina }}</li>
    <li>Tecnología: {{ myDataCar.tecnologia }}</li>
  </ul>
  <img src="{{ myDataCar.img }}" />
</article>